[color]
	ui = true
[core]
	editor = nvim
[merge]
	tool = vimdiff
[alias]
	br = branch
	ci = commit --verbose
	co = checkout
	lol = log --graph --all --decorate --oneline
	rb = rebase
	st = status
[pull]
	rebase = false
[push]
	default = nothing
