[user]
	name = Sean Malloy
	email = spinelli85@gmail.com
[color]
    status = auto
    branch = auto
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	br = branch
	ci = commit --verbose
	co = checkout
	st = status

