install.sh filter=lfs diff=lfs merge=lfs -text
tech/bin/helm filter=lfs diff=lfs merge=lfs -text
tech/bin/kind filter=lfs diff=lfs merge=lfs -text
tech/bin/kubectx filter=lfs diff=lfs merge=lfs -text
tech/bin/kubens filter=lfs diff=lfs merge=lfs -text
tech/bin/kubeval filter=lfs diff=lfs merge=lfs -text
tech/bin/present filter=lfs diff=lfs merge=lfs -text
tech/bin/rust-analyzer filter=lfs diff=lfs merge=lfs -text
tech/bin/shellcheck filter=lfs diff=lfs merge=lfs -text
tech/bin/shfmt_v3.1.2_linux_amd64 filter=lfs diff=lfs merge=lfs -text
